:root{

  --amplify-primary-color: #008000;
  --amplify-primary-tint: #0000FF; 
  --amplify-primary-shade: #008000;

  }

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

.app{
  flex-flow: column wrap;
  border-top: 2px solid #d0d0d0;
  justify-content: space-between;
}

.messages {
  width: 100%;
  height: 53rem;
  bottom: 3 ;
  position: fixed;
  overflow: auto;
  direction:ltr;
}

.messages-scroller {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow-y: scroll;
}

.message {
  background: #0099ff;
  color: white;
  margin-top: 4px;
  padding: 10px 25px;
  max-width: 400px;
  border-radius: 16px;
  font-size: 25px;

}

.message.me {
  align-self: flex-end;
  background: #6ecf6b;
  color: white;
  margin-top: 4px;
  padding: 10px 25px;
  max-width: 400px;
  border-radius: 16px;
  font-size: 25px;
}


.chat-bar input {
  padding: 1.1rem;
  font-size: 15px;
  float: left;
  width: 100%;
  background: whitesmoke;
  border-top: 1px solid white;
  position: fixed;
  left: 0;
  bottom: 0;
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.chat-bar button {
  width: 20%;
  padding: 1rem;
  background: 48484;
  color: white;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 700;
  position: fixed;
  right: 0;
  bottom: 0;
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);

}

.send-message-button {
  border: none;
  background: #484848;
  color: #ffffff;
  font-weight: 100;
  padding-right: 3rem;
  padding-left: 3rem;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

.send-message-button:hover {
  color: whitesmoke;
  font-weight: 700;
  letter-spacing: 3px;
  background: #606060;
  box-shadow: 0px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

.date {
  font-size: 15px;
  text-align: right;
}